@using HomeLt.Net.Legacy.UI.Constants
@model List<HomeLt.Net.Legacy.ENTITIES.Ticket>
@{
    List<HomeLt.Net.Legacy.ENTITIES.Ticket> test = Model;
    var test2 = test.FirstOrDefault().Home.Name;
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--=================================
breadcrumb -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
                    <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="/Search/Index">Search</a></li>
                    <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Buy Ticket</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--=================================
breadcrumb -->


<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title d-flex align-items-center">
                    <h2>Buy Ticket</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-tabs-03 nav-fill" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-01-tab"  aria-selected="true">
                                    <span>03</span>
                                    Ticket Summary
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content mt-4" id="myTabContent">

                            <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab-01-tab">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="section-title d-flex align-items-center">
                                                <h2>My properties</h2>
                                            </div>




                                            <div class="property-item property-col-list mt-4">
                                                <div class="row no-gutters">

                                                    <div class="col-lg-4 col-md-5">
                                                        <div class="property-image bg-overlay-gradient-04">
                                                            <img class="img-fluid" src="@(Model.FirstOrDefault().Home.PropertyMedias.FirstOrDefault()?.Path ?? "")" alt="">
                                                            <div class="property-lable">
                                                                @{
                                                                    EnumPropertyType et = (EnumPropertyType)Model.FirstOrDefault().Home.PropertyType;
                                                                }
                                                                <span class="badge badge-md badge-primary">@et</span>

                                                            </div>
                                                            <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7">
                                                        <div class="property-details">
                                                            <div class="property-details-inner">
                                                                <div class="property-details-inner-box">
                                                                    <div class="property-details-inner-box-left">
                                                                        <h5 class="property-title"><a href="/Property/Detail/@Model.FirstOrDefault().Home.HomeId">@Model.FirstOrDefault().Home.Name </a></h5>
                                                                        <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>@Model.FirstOrDefault().Home.Address.District.Name / @Model.FirstOrDefault().Home.Address.District.City.Name</span>
                                                                        @*<span class="property-agent-date"><i class="far fa-clock fa-md"></i>@{((DateTime.Now - item.InsertDate).TotalDays).ToString();} days ago</span>*@


                                                                    </div>

                                                                    <div class="property-price">@Model.FirstOrDefault().Home.Price.ToString("C") </div>

                                                                    <div class="property-price">@Model.FirstOrDefault().Home.TicketPrice.ToString("C")<span> / Ticket </span> </div>
                                                                    <div class="property-price">@((Model.FirstOrDefault().Home.TicketPrice*Model.Count()).ToString("C")) <span> / Total</span>
                                                                </div>

                                                                </div>
                                                                <ul class="property-info list-unstyled d-flex">
                                                                    <li class="flex-fill property-bed text-center"><i class="fas fa-bed"></i>Bed<span>@Model.FirstOrDefault().Home.BedroomNumber</span></li>
                                                                    <li class="flex-fill property-bath text-center"><i class="fas fa-bath"></i>Bath<span>@Model.FirstOrDefault().Home.BathNumber</span></li>
                                                                    <li class="flex-fill property-m-sqft text-center"><i class="far fa-square"></i>sqft<span>@Model.FirstOrDefault().Home.Sqft</span></li>
                                                                    <li class="flex-fill property-m-sqft text-right">
                                                                        <div class="input-group float-right" style="width:65%">
                                                                            <div class="input-group-prepend">
                                                                                <div class="input-group-text"><i class="fas fa-ticket-alt"></i>   </div><span>x @Model.Count()</span>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <p class="mb-0 d-none d-block mt-3">@Model.FirstOrDefault().Home.Description</p>

                                                            </div>
                                                            <div class="property-btn">
                                                                <a class="property-link" href="/Property/Detail/@Model.FirstOrDefault().Home.HomeId">See Details</a>
                                                                <ul class="property-listing-actions list-unstyled mb-0">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>







                                        </div>
                                    </div>
                                </div>

                                <!--=================================
                                my-properties -->
                            </div>



                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
