@using HomeLt.Net.Legacy.UI.Constants
@model List<HomeLt.Net.Legacy.ENTITIES.City>
@{
    ViewBag.Title = "AddHome";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    List<EnumPropertyModel> propertyTypes = HomeLt.Net.Legacy.UI.Constants.CastEnumToList.EnumList();
}
<!--=================================
breadcrumb -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
                    <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="/User/Profile">My profile</a></li>
                    <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Submit Property</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--=================================
breadcrumb -->
<!--=================================
Submit Property -->
<form action="#" method="post" enctype="multipart/form-data">
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title d-flex align-items-center">
                        <h2>Submit Property</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs nav-tabs-03 nav-fill" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-01-tab" data-toggle="tab" href="#tab-01" role="tab" aria-controls="tab-01" aria-selected="true">
                                        <span>01</span>
                                        Basic Information
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-02-tab" data-toggle="tab" href="#tab-02" role="tab" aria-controls="tab-02" aria-selected="false">
                                        <span>02</span>
                                        Gallery
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-03-tab" data-toggle="tab" href="#tab-03" role="tab" aria-controls="tab-03" aria-selected="false">
                                        <span>03</span>
                                        Location
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-04-tab" data-toggle="tab" href="#tab-04" role="tab" aria-controls="tab-04" aria-selected="false">
                                        <span>04</span>
                                        Detailed Information
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-05-tab" data-toggle="tab" href="#tab-05" role="tab" aria-controls="tab-05" aria-selected="false">
                                        <span>05</span>
                                        Floorplans
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-4" id="myTabContent">

                                <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab-01-tab">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Property Title </label>
                                            <input type="text" class="form-control" required name="Name" placeholder="Property Title">
                                        </div>
                                        <div class="form-group col-md-6 select-border">
                                            <label>Offer</label>
                                            <select name="SellingType" required class="form-control basic-select">
                                                <option value="false" selected="selected">Direct Sell</option>
                                                <option value="true">Lottary Sell</option>
                                            </select>
                                        </div>
                                        @*<div class="form-group col-md-6 select-border">
                                                <label>Rental Period</label>
                                                <select class="form-control basic-select">
                                                    <option value="value 01" selected="selected">Monthly</option>
                                                    <option value="value 02">yearly</option>
                                                </select>
                                            </div>*@
                                        <div class="form-group col-md-6 select-border">
                                            <label>Property Type</label>
                                            <select name="PropertyType" required class="form-control basic-select">
                                                @foreach (var item in propertyTypes)
                                                {
                                                    <option value="@item.Value">@item.Name</option>
                                                }


                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="d-block">Property price </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
                                                </div>
                                                <input type="number" required name="Price" class="form-control" placeholder="Total Amount">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="d-block">Ticket price </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
                                                </div>
                                                <input type="number" required name="TicketPrice" class="form-control" placeholder="Ticket Price">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Area</label>
                                            <input class="form-control" required name="Area" type="number" placeholder="Type (sq ft)">
                                        </div>
                                        <div class="form-group col-md-6 select-border">
                                            <label>Rooms</label>
                                            <select name="RoomNumber" required class="form-control basic-select">
                                                @for (int i = 1; i <= 20; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }


                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Video</label>
                                            <input class="form-control" required name="VideoUrl" placeholder="URL to oEmbed supported service">
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab-02-tab">
                                    <div class="custom-file">
                                        <input name="Galerry" type="file" required multiple class="custom-file-input" id="galleryFile">
                                        <label class="custom-file-label" for="galleryFile">Choose file</label>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-03" role="tabpanel" aria-labelledby="tab-03-tab">
                                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8351288872545!2d144.9556518!3d-37.8173306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1443621171568" style="border:0; width: 100%; height: 250px;"></iframe>*@

                                    <div class="form-row mt-4">
                                        <div class="form-group col-md-6">
                                            <label>Google Maps Address </label>
                                            <input type="text" name="GoogleMapAdress" class="form-control" placeholder="Envato">
                                        </div>

                                        <div class="form-group col-md-6 select-border">
                                            <label>Regions</label>
                                            <select name="City" required class="form-control basic-select" id="CitySelect">
                                                <option value=""  selected disabled>Select City</option>
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.CityId">@item.Name</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 select-border">
                                            <label>Regions</label>
                                            <select name="District" required class="form-control basic-select" id="DistrictSelect">
                                                <option value="" selected disabled>Select District</option>
                                                @*@foreach (var item in Model)
                                                {
                                                    <option value="@item.CityId">@item.Name</option>
                                                }*@

                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="tab-04" role="tabpanel" aria-labelledby="tab-04-tab">

                                    <div class="form-row mt-4">
                                        <div class="form-group col-md-6 select-border">
                                            <label>Building age</label>
                                            <select name="BuildingAge" class="form-control basic-select">
                                                <option value="0-10">0 to 10 Years</option>
                                                <option value="10-20">10 to 20 years</option>
                                                <option value="20-99">20 to 99 years</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 select-border">
                                            <label>Bedrooms</label>
                                            <select name="BedroomNumber" required class="form-control basic-select">
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 select-border">
                                            <label>Bathrooms</label>
                                            <select name="BathNumber" required class="form-control basic-select">
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Parking </label>
                                            <select name="Parking" required class="form-control basic-select">

                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>

                                            </select>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Central Heating </label>
                                            <select name="CentralHeating" class="form-control basic-select">
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>

                                            </select>
                                        </div>


                                        <div class="form-group col-md-6">
                                            <label>Exercise Room </label>
                                            <select name="ExcerciseRoom" class="form-control basic-select">
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>

                                            </select>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Approved </label>
                                            <select name="isApproved" class="form-control basic-select">
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="tab-05" role="tabpanel" aria-labelledby="tab-05-tab">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Browser file</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" multiple="multiple" required name="FloorPlans" accept="image/x-png,image/gif,image/jpeg" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                        @*<div class="form-group col-md-6">
                                                <label>Floorplan Title </label>
                                                <input type="text" class="form-control" placeholder="Awesome family home">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Area</label>
                                                <input class="form-control" placeholder="Type (sq ft)">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Description</label>
                                                <textarea class="form-control" rows="4" placeholder="Description"></textarea>
                                            </div>*@
                                    </div>

                                    <input type="submit" name="name" value="Kaydet" class="btn btn-primary mt-3" />
                                    @*<a class="btn btn-primary mt-3" href="/Home/AddHome"><i class="fas fa-plus-circle"></i> Upload floorplans</a>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<!--=================================
Submit Property -->
